body {
  color: white;
}
.home {
  color: black;
  font-size: 2rem;
  z-index: 1;
}
.video {
  width: 100%;
  object-fit: fill;
  /* scroll on video  */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: black;
}
.inside-video {
  margin-top: 200px;
  /* background-color: grey; */
  margin-bottom: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inside-video h1 {
  color: green;
  font-weight: 900;
  font-size: 1.4em;
}
.inside-video p {
  color: orange;
  font-size: 0.5em;
  font-weight: 900;
}
/* outside video  */
.outsite-video {
  background-color: white;
  color: black;
  font-size: 0.8em;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
}
.btn .btn1 {
  padding: 10px;
}
.btn .btn2 {
  padding: 10px;
}
.btn > * {
  font-size: 1rem;
  margin: 10px;
  background-color: blue;
  color: white;
  font-weight: 800;
  box-shadow: 2px 2px inset white;
  border-radius: 10px;
}
.btn > *:hover {
  color: white;
  background-color: rgb(25, 25, 188);
}
.nav-container {
  background-color: #262626;
}
nav {
  background-color: #262626;
  overflow: hidden;
  border: none;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  margin: 0 400px;
}

.logologo {
  /* border: 2px solid red; */
  margin-top: 40px;
  scale: 1.1;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav-items {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* font-size: 2rem; */
}
nav > ul > li {
  font-size: 1rem;
  list-style-type: none;
  border: none;
  margin: 10px;
}
nav > ul > li > a {
  /* color: green; */
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: white;
  /* color: red; */
}
.not-found {
  color: red;
  text-align: center;
}

/* styling head content  */
.content-header-cart {
  border: 2px solid green;
  width: 395px;
  margin: 50px;
  text-align: center;
  background-color: #e2e2e2;
  border-radius: 5%;
  object-fit: contain;
  cursor: pointer;
}
.content-header-cart:hover {
  scale: 1.2;
}
.content-head-container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.content-header-image {
  width: 390px;
  border-radius: 5% 5% 0 0;
}

#donate {
  border: 2px solid red;
  /* background-color: green; */
  /* font-size: 2rem; */
  border-radius: 8px;
  padding: 5px;
}
#donate > * {
  color: green;
  font-size: 1.2rem;
}
#donate:hover {
  border: 3px solid white;
  /* border-color: white; */
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px 2px White (0, 0, 0, 0.25);
}

/* styleing BestTime file  */
/* Container holding the image and the text */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* object-fit: cover; */
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: 900;
  text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
    -2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
    -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
    -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
}
span {
  color: green;
}

/* style a btn  */
#btn {
  /* border: 2px solid red; */
  border-radius: 10px;
  font-size: 0.4em;
  padding: 10px;
  color: white;
  font-weight: 600;
  background-color: green;
  margin: 10px;
  box-shadow: 2px 2px inset white;
}
#btn:hover {
  /* border: 2px solid green; */
  background-color: blue;
  color: white;
}

/* style footer  */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1px;
  /* border: 2px solid red; */
}
.footer-top {
  padding: 100px;
  background-color: #26272b;
  color: white;
  font-size: 1.2em;
}
.footer-middle {
  background-color: green;
  width: 100%;
  text-align: center;
}

/* style textOnImage  */
.parent {
  min-height: 40vh;
  /* border: 2px solid red; */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* opacity: 0.5; */
}
.parent::before {
  content: "";
  /* background-image: url("https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg"); */
  /* background-image: url("https://www.ulektznews.com/wp-content/uploads/2021/09/DU-Makes-It-Compulsory-For-All-Students-To-Plant-Trees-From-This-Session.png"); */
  background-image: url("https://www.czechuniversities.com/uploads/2020/02/290.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.parent-para {
  font-size: 5rem;
  color: white;
  font-weight: 900;
  text-align: center;
  z-index: 1;
  backdrop-filter: sepia(50%);
  border-radius: 10px;
}
:root {
  --hs: 225, 100%;
  --paper: hsl(var(--hs), 25%);
  --highlight: hsl(var(--hs), 45%);
  --shadow: hsl(var(--hs), 15%);
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(8rem, 23vw + 1rem, 20rem);
  letter-spacing: 0.1em;
  display: grid;
  place-items: center;
  grid-template-areas: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(305deg, tomato, gold, cyan);
  margin: 0;

  & > *,
  &::after {
    grid-area: text;
  }

  &::after {
    content: attr(data-text);
    color: var(--paper);
    transform: translate(0.1em, 0.1em);
    filter: drop-shadow(0.015em 0.015em 0.025em var(--shadow));
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(var(--highlight), var(--paper));
  }
}

/* styling component container  */
.cmpContainer {
  /* min-height: 100vh; */
  /* border: 8px solid green; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.containerr {
  border: 2px solid black;
  width: 360px;
  margin: 20px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e2e2e2;
  border-radius: 10px;
}
.containerr:hover {
  scale: 1.01;
  box-shadow: 10px 10px 10px green;
  cursor: pointer;
}

.cImage {
  /* border: 2px solid black; */
  border-radius: 10px;
  object-fit: cover;
  width: 360px;
  height: 380px;
  translate: 10;
}

#bestTimeBackground {
  background-color: #e2e2e2;
}

/* style photo conmponent  */

.photo-container {
  /* border: 6px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.photo-image {
  border: 1px solid red;
  border-radius: 10px;
  width: 500px;
  /* height: 400px; */
  margin: 20px;
}

/* style join us 
 */
.joinContainer {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.join-cart {
  /* border: 8px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 500px;
}
.join-image {
  width: 480px;
}
.join-image:hover {
  cursor: pointer;
  scale: 1.01;
  margin: 2px;
}
.jbtn {
  /* border: 2px solid red; */
  /* font-style: bold; */
  font-size: 1.3rem;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px;
}
.jbtn:hover {
  background-color: black;
  color: white;
  border: 2px solid green;
  box-shadow: 8px 8px 8px red;
}

.btn-left {
  border: 2px solid black;
  display: flex;
  justify-content: end;
}
