body {
  color: white;
}
.home {
  color: black;
  font-size: 3rem;
  z-index: 1;
}
.video {
  width: 100%;
  object-fit: fill;
  /* scroll on video  */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.inside-video {
  margin-top: 200px;
  color: white;
  margin-bottom: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inside-video h1 {
  color: white;
  font-weight: 900;
  font-size: 1em;
}
.inside-video p {
  color: orange;
  font-size: 0.5em;
  font-weight: 900;
}
/* outside video  */
.outsite-video {
  background-color: white;
  color: black;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
}
.btn .btn1 {
  padding: 10px;
}
.btn .btn2 {
  padding: 10px;
}
.btn > * {
  font-size: 1rem;
  margin: 10px;
  background-color: blue;
  color: white;
  font-weight: 800;
  box-shadow: 2px 2px inset white;
  border-radius: 10px;
}
.btn > *:hover {
  color: white;
  background-color: rgb(25, 25, 188);
}
nav {
  background-color: gray;
  overflow: hidden;
  border: none;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav > ul > li {
  font-size: 1rem;
  list-style-type: none;
  border: none;
}
nav > ul > li > a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
nav > ul > li > a:hover {
  background-color: white;
  color: blue;
}
.nav-active {
  color: white;
  background-color: blue;
}
.not-found {
  color: red;
  text-align: center;
}
